

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.a {
    display: inline-block;

    color: #90C0AE;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}