@import '../../variables.scss';


.wrapper {
    margin: 0 auto;
    width: 1440px;
}

.a {
    display: inline-block;

    color: $black;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    cursor: pointer;

    &:hover {
        color: $green;
        transition: color 0.5s
    }
}

.playlists {
    display: flex;
    gap: 42px;
}

.tracks {
    width: 100%;
}