DB_NAME=sound_flow
DB_USER=sound_flow_user
DB_PASSWORD=sound_flow_password
DB_HOST=db

EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=

IP_HOST_ADDRESS=
DOMAIN_NAME=127.0.0.1:3000
API_DOMAIN_NAME=127.0.0.1:8000