.side-btn {
    border-radius: 7px;
    border: 1px solid #000;
    background: #FFF;

    display: inline-flex;
    height: 100%;
    width: auto;
    padding: 4px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;

    cursor: pointer;

}