@import '../../variables.scss';


.input {
    color: $black;

    height: 24px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 7px;
    background: $grey;

    border: 0;

    color: $black;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

    &::placeholder {
        color: $black;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }

    &:focus {
        outline: none;
    }
}


.input-wrapper {
    display: flex;
    flex-direction: column;

}

.input-header {
    color: $black;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-bottom: 2px;

}