
.input {
    color: #000;

    height: 24px;
    padding: 5px 10px;
    align-items: center;

    border-radius: 7px;
    border: 0 solid #91C0AE;

    background: #EDEEF0;

    color: #000;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    &::placeholder {
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
}


.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-header {
    color: #000;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 2px;

}