.footer {
    display: flex;
    padding: 34px 0px 34px 0px;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.github-icon {

    display: block;
    margin: 0 auto;
    width: 49px;
    height: 48px;
    opacity: 0.25;
    flex-shrink: 0;
    cursor: pointer;
    background-image: url('../../../public/github-mark.svg');
    background-size: cover;

    &:hover {
        opacity: 1;
        transition: opacity 1s;
    }
}