.user-info {

    display: inline-flex;
    gap: 25px;

    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    background: #FFF;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &__text {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__main {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
    }
}