@import '../../variables.scss';


.btn {
    border-radius: 7px;
    border: 0px solid $black;
    background: $white;

    display: inline-flex;
    height: 34px;
    width: auto;
    padding: 4px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: $black;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;

    cursor: pointer;

    background-color: $grey;

    &--green {
        background-color: $light-green;
    }

    &:hover {
        background-color: $light-green;
        transition: background-color 0.5s
    }
}